<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.happiness.budtree.domain.like.LikeMapper">

    <insert id="saveLike" parameterType="Long" useGeneratedKeys="true">
        INSERT INTO `like` (member_id, phrase_id)
        VALUES (
                #{member_id},
                (SELECT phrase_id FROM phrase WHERE DATE(created_date) = CURDATE())
        )
    </insert>

    <select id="totalLike" resultType="int">
        SELECT COUNT(*) FROM `like`
        WHERE phrase_id = (SELECT phrase_id FROM phrase WHERE DATE(created_date) = CURDATE())
    </select>

    <delete id="cancelLike" parameterType="Long">
        DELETE FROM `like`
        WHERE (member_id = #{member_id} AND
               phrase_id = (SELECT phrase_id FROM phrase WHERE DATE(created_date) = CURDATE())
        )
    </delete>

</mapper>