<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.happiness.budtree.domain.phrase.PhraseMapper">

    <insert id="savePhrase" parameterType="com.happiness.budtree.domain.phrase.DTO.request.PhraseRegisterRQ"
            useGeneratedKeys="true">

        INSERT INTO phrase (content)
        VALUES (#{content})

    </insert>

    <select id="getPhrase" resultType="com.happiness.budtree.domain.phrase.DTO.response.TodayPhrase">
        -- COUNT(l.like_id) : l.like_id가 null이면 개수가 0으로 count
        SELECT p.phrase_id, p.content, COUNT(l.like_id) AS likeCount FROM phrase p LEFT JOIN `like` l USING(phrase_id)
        WHERE DATE(p.created_date) = CURDATE()
        GROUP BY p.phrase_id, p.content
    </select>

</mapper>