/* style.module.css */

/* #root {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0 20px;
} */

.container {
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10px;
}

.title {
  width: 100%;
  height: 50px;
  padding: 10px;
  display: flex;
  font-size: 18px;
  font-weight: bold;
}

.arrow {
  padding: 3px;
  display: inline;
  margin-right: 8px;
  font-weight: normal;
}

.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  text-align: center;
}

.inputArea {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 20px;
  flex: 1;
}

.inputPassword1,
.inputPassword2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.newpwd {
  display: flex;
  width: 100%;
  padding-left: 5px;
  font-size: 14px;
}

.inputpwd {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #b9b6ad;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  color: #575757;
}

.inputPassword2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.footer {
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
}

.btn {
  width: 90%;
  padding: 18px;
  margin: 20px;
  margin-bottom: 50px;
  background-color: #f3efe9;
  border: 1px solid #b9b6ad;
  color: black;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.btn:hover {
  background-color: #d9cebb;
  color: white;
}
