.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modalContent {
  background: #fcfbf7;
  width: 312px;
  height: 165px;
  border-radius: 10px;
  padding: 20px 20px;
  text-align: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

.message1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
  color: #575757;
  text-align: left;
  margin-left: 19px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.cancelButton,
.confirmButton {
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  min-width: 110px;
  height: 45px;
}

.cancelButton {
  background: #fff4f4;
  border: 1px solid #dddacf;
  color: #65481a;
}

.confirmButton {
  background: #ff9d9d;
  border: none;
  color: white;
}

@media (max-width: 480px) {
  .modalContent {
    width: 95%;
    padding: 16px;
  }

  .buttonGroup {
    flex-direction: column;
  }

  .cancelButton,
  .confirmButton {
    width: 100%;
    padding: 10px;
  }
}
