@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
  font-family: "Ownglyph_meetme-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "iceHimchan-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceHimchan-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "iceHimchan-Rg", sans-serif;
}

html {
  background-color: rgb(211, 211, 211);
  color: #333;
}

/* body {
  max-width: 430px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f6f2e6;
} */

.frame {
  max-width: 430px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f6f2e6;
}
