@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
  font-family: "Ownglyph_meetme-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
} */
/* @font-face {
  font-family: "iceHimchan-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceHimchan-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular", sans-serif;
}

/* Hide scrollbars globally */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

html {
  background-color: rgb(211, 211, 211);
  color: #333;
}

/* body {
  max-width: 430px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f6f2e6;
} */

.frame {
  max-width: 430px;
  margin: 0 auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f2e6;
  position: relative;
  overflow: hidden;
}

.layout-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-scroll {
  flex: 1;
  overflow-y: auto;
  /* padding-bottom: 70px; 하단바 공간 확보 */
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 30px 20px 20px;
  overflow: hidden;
  min-height: 100vh;
}

.StartImage {
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 350px;
  margin: 0 auto;
}

.writing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #866023;
  font-weight: 500;
  font-size: 24px;
}

.content {
  color: #866023;
  font-weight: bold;
  font-size: 38px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 100%;
}

.primary-button {
  background-color: #7f5f3c;
  color: white;
  border: none;
  border-radius: 27px;
  padding: 14px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.secondary-button {
  background-color: white;
  color: #7f5f3c;
  border: 1px solid #7f5f3c;
  border-radius: 27px;
  padding: 14px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 360px) {
  .container {
    width: 100%;
    padding: 20px 12px;
  }
  .StartImage {
    width: 300px;
    height: auto;
  }
  .primary-button,
  .secondary-button {
    padding: 12px;
    font-size: 14px;
    border-radius: 24px;
  }

  .button-group {
    margin-top: 24px;
    gap: 10px;
  }
}
