.container {
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  /* display: flex; */
  flex-direction: column;
  position: relative;
  padding-top: 50px;
}

.inputId {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 10px;
  margin: 0 auto; */
  /* display: flex; */
  /* flex-direction: column; */
  width: 100%;
  /* gap: 10px; */
  margin: 0 auto;
}

.idInputContainer {
  position: relative;
}

.duplicateCheckBtn {
  position: absolute;
  right: 10px; /* 인풋창의 오른쪽 여백 조정 */
  top: 50%; /* 수직 중앙 정렬 */
  transform: translateY(-50%); /* 수직 중앙 정렬 */
  padding: 5px 10px;
  font-size: 14px;
  background-color: #b9b6ad;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  height: 40px; /* 버튼 높이 조정 */
}
.inputArea {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 20px;
  flex: 1;
  /* align-items: center; */
}

.newId {
  /* display: flex; */
  width: 100%;
  padding-left: 10px;
  font-size: 14px;
}

.inputPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newpwd {
  display: flex;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.inputid__ {
  width: 90%;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #b9b6ad;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  color: #575757;
}

.inputpwd {
  width: 90%;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #b9b6ad;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  color: #575757;
}

.footer {
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
}

.btn {
  border-radius: 30px;
  border: 1px solid #b9b6ad;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 16px;
  cursor: pointer;
  color: #575757;
  padding-bottom: 5px;
}

.btn:hover {
  background-color: #b9b6ad;
}
