#MYSQL
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/budtree_app?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  #        show_sql: true
  #      format_sql: true
  ai:
    openai:
      api-key: ${GPT_KEY}
      chat:
        options:
          model: ${FINE_TUNNING_KEY}
          temperature: 1.0

#  jwt:
#    secret: ${JWT_KEY}

  redis:
    data:
      host: localhost
      port: 6379
      database: 0

logging.level:
  org.hibernate.SQL: debug
  org.hibernate.orm.jdbc.bind: trace

management:
  endpoints:
    web:
      exposure:
        include: "*"

# Mybatis
mybatis:
  # src/main/resources/mapper/ 안의 모든 하위 폴더를 포함한 모든 XML Mapper 파일을 읽어옴
  mapper-locations: classpath:mapper/**/*.xml
  map-underscore-to-camel-case: true # DB 칼럼 이름을 언더스코어 -> 카멜케이스로 자동 변환
  auto-mapping-unknown-column-behavior: FAILING # Mybatis 에서 알 수 없는 칼럼에 대한 자동 매핑에 예외를 던짐