.container {
  box-sizing: border-box;
  max-width: 400px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f6f2e6;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px;
  position: relative;
}

.backButton {
  position: absolute;
  left: 16px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: #f3efe9;
  margin-top: 90px;
}

/* 프로필 카드 */
.profileCard {
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
}

.profileInfo {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 95px;
  height: 90px;
  border-radius: 60%;
  object-fit: cover;
}

.userInfo {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.nickname {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 4px 0;
  color: #575757;
  font-style: bold;
  font-size: 30px;
}

.userId {
  font-size: 14px;
  color: #666;
  margin: 0;
}

/* 메뉴 카드 */
.menuCard {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  text-decoration: none;
  color: #000;
}

.menuItem:active {
  background-color: #f5f5f5;
}

.divider {
  height: 1px;
  background-color: #eee;
  margin: 0 15px;
}

/* 푸터 */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.textButton {
  background: none;
  border: none;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  padding: 8px;
}

.separator {
  color: #ccc;
  margin: 0 8px;
}
