.diary-container {
  width: 100%;
  height: 100vh;
  background-color: #fefcf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  box-sizing: border-box;
  overflow: auto; 
}

/* Header */
.diary-header {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header-title {
  font-size: 1rem;
  font-weight: bold;
}

.header-space {
  width: 20px;
}

/* Selectors */
.selector-container {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  width: 100%;
  max-width: 400px;
  justify-content: flex-start;
  margin-top: 65px;
  margin-left: 22px;
}

.selector-button {
  background-color: #e8ddcf;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #7a5e3a;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 40px;
}

.selector-button:active {
  background-color: #c9b7a2; 
}

.selector-icon {
  width: 16px;
  height: 16px;
  color: #7a5e3a;
}

.diary-list-container {
  width: 100%;
  max-width: 400px;
  background-color: #f6f2e6;
  border-radius: 12px;
  padding: 25px 16px 0px 16px;
  border: 2px solid #c9b7a2;
  overflow-y: auto;
  height: 67vh;
  min-height: 67vh;
  position: relative;
}

.diary-list-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #7a5e3a;
  margin-bottom: 16px;
}

.diary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e4ddd3;
  border-radius: 20px;
  padding: 12px;
  margin-bottom: 16px;
  background-color: #ffffff;
  border: 2px solid #c9b7a2;
}

.diary-item-left {
  display: flex;
  align-items: center;
}

.diary-item-image {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.diary-item-text {
  display: flex;
  flex-direction: column;
}

.diary-item-date {
  font-size: 1rem;
  font-weight: 500;
  color: #575757;
}

.diary-item-status {
  font-size: 0.75rem;
  color: #575757;
}

.diary-change-button {
  background-color: #e8ddcf;
  border: none;
  border-radius: 900px;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  cursor: pointer;
}

.diary-change-button:active {
  background-color: #704f2363;
  opacity: 1;
}

.scroll-to-top-button {
  position: sticky;
  right: 0%;
  bottom: calc(env(safe-area-inset-bottom, 0px) + 24px);
  background-color: #7a5e3a;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  max-width: 20%;
  min-width: 40px;
  box-sizing: border-box;
  float: right;
}

.scroll-to-top-button:active {
  background-color: #5e4327; 
}

.scroll-top-icon {
  color: #fff;
  width: 24px;
  height: 24px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #e8ddcf;
  border-radius: 0 0 12px 12px;
  width: 100%;
  z-index: 10;
  color: #7a5e3a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 220px;
  overflow-y: auto;
  padding: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
}

.selector-button.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
  font-weight: bold;
  color: #7a5e3a;
  font-size: 1rem;
  position: relative;
} 

.dropdown-item:hover {
  background-color: #d6c9b6;
  transition: background-color 0.2s ease;
}

.dropdown-item.selected::after {
  content: "❯";
  position: absolute;
  right: 16px;
  color: #7a5e3a;
  font-weight: bold;
}

.dropdown::-webkit-scrollbar {
  width: 4px;
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
}

.dropdown::-webkit-scrollbar-track {
  background-color: transparent;
}

.dropdown-wrapper {
  position: relative;
  margin-right: 8px;
}


@media (max-width: 480px){
  .header-title {
    font-size: 0.95rem;
  }

  .diary-item-image {
    width: 50px;
    height: 50px;
  }
  .diary-item-date {
    font-size: 0.95rem;
  }
  .diary-item-status {
    font-size: 0.7rem;
  }
  .diary-change-button {
    font-size: 0.84rem;
    padding: 0.65rem 1.08rem;
  }
  .dropdown-item {
    font-size: 0.95rem;
  } 
}

@media (max-width: 375px){
  .selector-button {
    font-size: 0.9rem;
    width: 85px;
    height: 34px;
  }
  .diary-item-image {
    width: 44px;
    height: 44px;
  }
  .diary-item-date {
    font-size: 0.9rem;
  }
  .diary-item-status {
    font-size: 0.68rem;
  }
  .diary-change-button {
    font-size: 0.79rem;
    padding: 0.60rem 0.96rem;
  }
  .dropdown-item {
    font-size: 0.9rem;
  } 
  .dropdown-item.selected::after {
    content: "❯";
    right: 10px;
  }
}

@media (max-width: 320px) {
  .header-title {
    font-size: 0.85rem;
  }
  .selector-button {
    font-size: 0.85rem;
    width: 80px;
    height: 32px;
  }
  .diary-item-image {
    width: 38px;
    height: 38px;
  }
  .diary-item-date {
    font-size: 0.85rem;
  }
  .diary-item-status {
    font-size: 0.65rem;
  }
  .diary-change-button {
    font-size: 0.7rem;
    padding: 0.4rem 0.6rem;
  }

  .dropdown-item {
    font-size: 0.85rem;
  } 
}


@media (max-height: 700px) {
  .diary-list-container {
    height: 61vh;
    min-height: 61vh;
  }
}

@media (max-height: 600px) {
  .diary-list-container {
    height: 56vh;
    min-height: 56vh;
  }
}

@media (max-height: 530px) {
  .diary-list-container {
    height: 52vh;
    min-height: 52vh;
  }
}


@media (max-height: 485px) {
  .diary-list-container {
    height: 48vh;
    min-height: 48vh;
  }
}